<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Controle de Estoque - Beta</title>
        <link rel="stylesheet" type='text/css' href='_css/style.css'>
    </head>
    
    <body>

        <div class="interface">
        <header>
           
            <figure class='titulo'>
                <img src='_icons/logo.JPG'>    
                <figcaption>
                    <h1>Controle de Estoque</h1>
                </figcaption>
            </figure>    
            <br>
            <br>
            <br>

            <nav id="menu">
                <ul>
                <li>       

                <figure class="legenda-icone">
                    <a href="add.html">
                    <img src='_icons/add.JPG'>
                    <figcaption>
                        <h3>Adicionar</h3>
                    </figcaption></a>
                </figure>
                </li>   


                <li>
                <figure class="legenda-icone">
                    <a href="delete.html">
                    <img src='_icons/delete.JPG'>
                    <figcaption>
                        <h3>Deletar</h3>
                    </figcaption></a>
                </figure>
                </li>

                <li>
                <figure class="legenda-icone">
                <a href="edit.html">
                    <img src='_icons/edit.JPG'> 
                    <figcaption>
                        <h3>Editar</h3>
                    </figcaption>
                </figure></a>
                </li>
                
                <li>
                <figure class="legenda-icone">
                    <a href="products-list.html"> 
                    <img src='_icons/show.JPG'>  
                    <figcaption>
                        <h3>Visualizar</h3>
                    </figcaption></a>
                </figure>

                </li>
                </ul>
            </nav>
            
            </div>
                        
            </header>
        </div>

        <br>
        <br>
        
    
    </body>
</html>